
<ion-header>
 
  <ion-toolbar>
      <div class="nav-bar" style="z-index: 50;">
    <ion-title >
     <button class="b" [routerLink]= "['/menu']"> MENU </button>
     
    </ion-title>
   
  </div>
  <div class="nom_resto">
    <div class="nom_container">
      <h1><a href="#">SUZY FOOD <br>
        <hr style="background: black;width:120px;height: px;" >
        <span>RESTAURANT</span></a></h1>
    </div>
  </div>
  </ion-toolbar>
  <!-- <div class="p-resto">
<div style="float: left ;padding-left: 30px">
  <h2 style="color:white; ">nous vous offrons le meilleur repas.</h2>
</div>
</div> -->
</ion-header>

<ion-content>
    <div class="p-resto">
        <div style="float: left ;padding-left: 30px">
          <h2 style="color:white; ">nous vous offrons le meilleur repas.</h2>
        </div>
        </div>
<div class="dif-menu">
  <div class="container">
  <h3 style="padding-left: 20px;">Notre délicieuse nourriture</h3>
  <hr style="background:yellow; width:180px;height:3px;">
<div class="food-grid" *ngFor="let pictures of picture">
  <div class="img_grid" >
<img src="{{pictures}}" class="responsive">
  </div>
</div>
</div>
</div>



<ion-footer>
  
	
			<div class="w3_agile_copyright">	
				<p>&copy; 2019 suzy resto. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
	
							
	
      <ion-fab vertical="bottom" horizontal="end">
          <ion-fab-button>Share</ion-fab-button>
        
          <ion-fab-list side="top">
            <ion-fab-button>Facebook</ion-fab-button>
            <ion-fab-button>Twitter</ion-fab-button>
            <ion-fab-button>Youtube</ion-fab-button>
          </ion-fab-list>
        
          
        
        </ion-fab>
  
</ion-footer>
